<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <style>
    
    .round { padding:8px; margin:8px 0; box-sizing:border-box; border-radius:15px; font-size:large; }
    
    </style>
    <title>Edit view</title>
</head>
<body>
<div class="container">
  <h1>Dreadnought timeline edit page</h1>
  <h2>{{ result['koptekst'] }}</h2>
  <form class="form-horizontal" id="mainform">
    <input type="hidden" id="id" name="id" value="{{ result['id'] }}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="jaar">Jaar: </label>
      <input class="round" type="text" maxlength="4" id="jaar" name="jaar" value="{{ result['jaar'] }}">
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="datum">Maand (MM-DD): </label>
      <input class="round" type="text" maxlength="5" id="datum" name="datum" value="{{ result['datum'] }}">
    </div>    
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="paginanummer">Paginanummer: </label>
      <input class="round" type="text" maxlength="3" id="paginanummer" name="paginanummer" value="{{ result['paginanummer'] }}">
    </div>    
   
    <div class="form-group">
      <label class="control-label col-sm-2" for="koptekst">Koptekst: </label> 
      <textarea class="form-control round col-sm-8" rows="2" name="koptekst" id="koptekst">{{result['koptekst']}}</textarea>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="broodtekst">Broodtekst: </label> 
      <textarea class="form-control round col-sm-8" rows="5" name="broodtekst" id="broodtekst">{{result['broodtekst']}}</textarea>
    </div>

    <div class="form-group"> 
       <button type="button" class="btn btn-primary" id="save_and_stay" action="stay">Opslaan en hier blijven</button>
       <button type="button" class="btn btn-primary" id="save_and_back" action="back">Opslaan en terug naar de tijdlijn</button>
    </div>

  </form>

</div><!-- container -->

<script>
const API_URL = 'http://localhost/dreadnought/'
//const API_URL = 'http://localhost:5000/'
const xhttp = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP"); 
const id = document.querySelector("#id").value

function serialize() {
  let inputels = document.querySelectorAll("input")
  let textels = document.querySelectorAll("textarea")
  var res = {}
  inputels.forEach ( el => res[el.name] = el.value )
  textels.forEach ( el => res[el.name] = el.value )

  return JSON.stringify(res)
}

xhttp.onreadystatechange = function() {
  console.log(this)
  if (this.readyState ==4  && this.status==200) { 
    console.log(this.responseText)
    console.log(xhttp.action)
    let link = this.responseText
    if (xhttp.action=='back') document.location = `${API_URL}#${link}`
  }
}

// https://stackoverflow.com/questions/40893537/fetch-set-cookies-and-csrf
const xsrfCookie = document.cookie.split(';')
    .map(c => c.trim())
    .filter(c => c.startsWith('csrf_access_token='))
    .map ( e=> decodeURIComponent(e.split('=')[1]) )[0]

headers = { 'Content-Type':'application/json','X-CSRF-TOKEN': xsrfCookie }
fetch (`${API_URL}testput`, {
  method:'put',
  headers,
  credentials:'include'
})
.then ( data => data.text() )
.then ( e => console.log(e) )

var retour = null
let buttons = document.querySelectorAll("#save_and_stay, #save_and_back")
console.log(document.cookie)
buttons.forEach( el => el.addEventListener('click', e => { 
  let data = serialize()
  fetch(`${API_URL}edit/${id}`, {
    method: 'PUT', // or 'PUT'
    headers,
    credentials:'include',
    body: data,
  }).then( el => console.log(el) )
.catch(err => console.error(err) )



  //xhttp.action = e.target.getAttribute('action')
  //xhttp.open("PUT", `${API_URL}edit/${id}`)
  //xhttp.setRequestHeader('Content-type', 'application/json')
  //xhttp.send(data)
}))

</script>
    
</body>
</html>