<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
    <style>
    
    .round { padding:8px; margin:8px 0; box-sizing:border-box; border-radius:15px; font-size:large; }
    
    </style>
    <title>Edit view</title>
</head>
<body>
<div class="container">
  <h1>Dreadnought timeline edit page</h1>
  <h2>{{ result['koptekst'] }}</h2>
  <form class="form-horizontal" id="mainform">
    <input type="hidden" id="id" name="id" value="{{ result['id'] }}">
    <input type="hidden" id="hoofdstuk" name="hoofdstuk" value="{{ result['hoofdstuk'] }}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="jaar">Jaar: </label>
      <input class="round" type="text" maxlength="4" id="jaar" name="jaar" value="{{ result['jaar'] }}">
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="datum">Maand (MM-DD): </label>
      <input class="round" type="text" maxlength="5" id="datum" name="datum" value="{{ result['datum'] }}">
    </div>    
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="paginanummer">Paginanummer: </label>
      <input class="round" type="text" maxlength="3" id="paginanummer" name="paginanummer" value="{{ result['paginanummer'] }}">
    </div>    
   
    <div class="form-group">
      <label class="control-label col-sm-2" for="koptekst">Koptekst: </label> 
      <textarea class="form-control round col-sm-8" rows="2" name="koptekst" id="koptekst">{{result['koptekst']}}</textarea>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="broodtekst">Broodtekst: </label> 
      <textarea class="form-control round col-sm-8" rows="5" name="broodtekst" id="broodtekst">{{result['broodtekst']}}</textarea>
    </div>

    <div class="form-group"> 
       <button type="button" class="navigation btn btn-primary" id="save_and_stay" action="stay">Opslaan en hier blijven</button>
       <button type="button" class="navigation btn btn-primary" id="save_and_next" action="next">Opslaan en volgend item</button>
       <button type="button" class="navigation btn btn-primary" id="save_and_back" action="back">Opslaan en terug naar de tijdlijn</button>
    </div>

  </form>

</div><!-- container -->

<script src="/static/js/form.js">

</script>
    
</body>
</html>
