<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Dreadnought</title>
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
	<script src="/static/js/modernizr.custom.js"></script>

	<style>
		footer { font-size:xx-small; }
		a { color:#a547da; text-decoration:none;}
		a:hover { text-decoration:underline;}
	</style>

</head>
<body>
<div class="container">
  <div class="main">
	  <div>
		<h1>Dreadnought</h1>
		<h3>Brittain, Germany and the Coming of the Great War</h3>
	  </div>

	  <div>
	  <p>In 1992, Robert K. Massie published an impressive work about the naval arms race that was one of the main factors leading to the First World War. In about 1200 pages, Massie brings to life such historical figures as the single-minded Admiral von Tirpitz, the young and ambitious Winston Churchill, the ruthless and  sycophantic Chancellor Bernhard von Bülow, the aggressive and uncertain Wilhelm II, and many, many others. Their stories and interactions, the interplay between the ageing British and the upcoming German Empires, and the changing nature of war at sea are all described in such a detail that the feeling of the era really comes to life.</p>

	  <p>Interesting as this volume is in itself, because of its size one can loose track of the specific chronology and the narratives described in the several chapters. This site is an ongoing project to provide a chronological summary of the most interesting chapters in the form of a time-line, adding interesting links and images in the process.  </p>

	  <p>At the moment, the following chapters have been added:<br/>
		<ul>
			<li><a href="/dreadnought/39">The Agadir Crisis</a></li>
			<li><a href="/dreadnought/42">The Haldane Mission</a></li>
			<li><a href="/dreadnought/43">Naval Estimates and a Naval Holiday</a></li>
			<li><a href="/dreadnought/45">The Coming of Armageddon: Berlin</a></li>
			<li><a href="/dreadnought/46">The Coming of Armageddon: London</a></li>
		</ul>
	  </p> 
  </div>

<footer>
	<p>This site uses <a href="https://tympanus.net/Blueprints/VerticalTimeline/">Vertical Timeline</a> by <a href="https://tympanus.net/codrops/author/crnacura/">Mary Lou</a></p>
	<p>Last update: July 21, 2020</p>
</footer>

</div>

</body>
</html>
